body{
	background-color: beige;
	background-image: url("https://images-na.ssl-images-amazon.com/images/G/15/img16/x-site/other/1017968_ca_x-site_gateway_popular_departments_16_292x292_1._CB525774053_.png");
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
}

h1{
	color: white;
	text-align: center;
	border-style: dotted;
	border-width: 2px;
	border-left: 6px solid red;
	border-radius: 12px
}

p{
	font-size: 20px;
	font-family: monospace;
}

/* CSS box model from inside to outside: 
   content(heigth and width), padding, border, margin
*/
#para2{
	font-family: arial;
	margin-left: 20px;
	background-color: rgb(255,10,0);
	padding: 25px 50px 75px 100px;
	position: fixed;
	z-index: 1;
}

/* you can use p.para3 or .para3, but a period character is a must
also a HTML element can have multiple classes*/
p.para3{
	font-family: "agency fb";
	text-transform: uppercase;
	position: relative;
	z-index: 2;
}

p.para4{
	text-align: center;
	letter-spacing: 3px;
}

/*You can group multiple selectors together, but you must have a comma*/
#para5,.para6{
	text-align: right;
	font-style: italic;
}

/* list-style is a combination of list-style-type, position, image*/
ol {
	list-style: square inside none;
}

li{
	display: inline;
}

table{
	border-collapse: collapse;
	empty-cells: hide;
	table-layout: auto;
	font-family: serif, Times, arial;
	overflow-x: auto;
}

/* 
   a:hover MUST come after a:link and a:visited
   a:active MUST come after a:hover
 */
a:link{
	text-decoration: none;
	color: blue;
}

a:visited{
	color: red;
}

a:hover{
	color: red;
}

/*This is when you mouse click it and hold to select it */
a:active{
	color: blue;
}

#div1{
	background-color: red;
}

.divClass{
	background-color: green;
}

/* Attribute selector
 * also can use hello~=world, means to search an attribute which contains a word
 * [attribute|="value"] selector is used to select elements with the specified attribute starting with the specified value.
 * [attribute$="value"] selector is used to select elements whose attribute value ends with a specified value
 */
span[hello="world"]{
	background: blue;
	color: red;
}

.overflow{
	width: 100px;
	height: 50px;
	overflow: auto;
	/* You can also set to overflow: scroll/hidden */
}

/*
 * Descendant Selector for this example, there are also
 * Child Selector
 * Adjacent Sibling Selector
 * General Sibling Selector
 */
div p{
	background-color: yellow;
}

.hoverP{
	display: none;
}

/*Pseudo-class, css has a lot of them
 * Pseudo-class uses : , while a pseudo element uses ::
 *Also :first-child
 * :lang to define your rules
 */
div:hover .hoverP{
	display: block;
	color: white;
	background-color: black;
}
/*Pseudo element*/ 
::selection{
	color: yellow;
}

#img2{
	opacity: 0.3;
}

#img2:hover{
	opacity: 1;
}

/* priority from high to low, which one is defined later closer to the element
 1. Inline style (inside an HTML element)
 2. External and internal style sheets (in the head section)
 3. Browser default */

/* For rgb(x,x,x), check https://www.w3schools.com/css/css_colors.asp */

/* the order for box property is top, right, bottom, left */
