<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance" 
   xmlns:aop = "http://www.springframework.org/schema/aop"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
   http://www.springframework.org/schema/aop 
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

   <!-- bean definition & AOP specific configuration -->
   <bean id="bookAOP" class="springcore_day2.BookAOP"></bean>
   <bean id="book" class="springcore_day2.Book"></bean>
   
	<aop:config>
		<aop:aspect ref="bookAOP">
			<!-- pointcut can be defined out of aspect -->
			<aop:pointcut expression="execution(* springcore_day2.Book.printInfo(..))" id="bookPointcut"/>
			<aop:before method="printBefore" pointcut-ref="bookPointcut"/>
			<aop:after method="printAfter" pointcut-ref="bookPointcut"/>
			<aop:around method="printAround" pointcut-ref="bookPointcut"/>
		</aop:aspect>
	</aop:config>
</beans>