<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">
   
   <!-- This is ennable scan for class, method, properties for annotations -->
   <context:component-scan base-package="springcore_day2"></context:component-scan>
   
   <!-- only scans annotation above properties -->
	<!-- <context:annotation-config></context:annotation-config> -->
 </beans>